<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/main_style.css') }}" />
    <title>Ошибка - {{ data.title }}</title>
</head>

<body class="error-body">
    <div class="error-content">
        <img src="/favicon.png" alt="Logo" class="logo">
        <h2 id="status-code-title">{{ data.title }}</h2>
        <p id="status-code-description">{{ data.description }}</p>
    </div>
</body>

</html>